---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}";

$link-base-color: #EE4C2C;
$link-visited-color: darken($link-base-color, 15%);

@import "minima/initialize";

header {
  display: none;
}
